@{
    ViewData["Title"] = "Registration Page";
}

<div class="d-flex justify-content-center">
    <h4 class="mb-4 text-muted">Регистрация пользователя :)</h4>
</div>
<form id="createUserForm" class="w-25 mx-auto" novalidate>
    <div class="mb-3">
        <label class="form-label">Ваш логин</label>
        <input name="login" type="text" class="form-control" required/>
        <div class="invalid-feedback">Поле "Логин" обязательно для заполнения.</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Ваша электронная почта</label>
        <input name="email" type="email" class="form-control" required/>
        <div class="invalid-feedback">Поле "Электронная почта" обязательно для заполнения и должно быть валидным email-адресом.</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Ваш пароль</label>
        <input name="password" type="password" class="form-control" required/>
         <div class="invalid-feedback">Поле "Пароль" обязательно для заполнения.</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Повторите пароль</label>
        <input name="repeatPassword" type="password" class="form-control" required/>
        <div class="invalid-feedback">Поле "Повторите пароль" обязательно для заполнения и должно совпадать с паролем.</div>
    </div>

    <div class="d-flex justify-content-center">
        <button id="createUser" type="submit" class="btn btn-bg btn-primary btn-lg">Регистрация аккаунта</button>
    </div>
</form>


@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script>
        $('#createUser').on('click', function (e){
            e.preventDefault();
            if (!$("#createUserForm")[0].checkValidity()) {
               $("#createUserForm").addClass("was-validated");
               return;
               }
            var password = $('input[name="password"]').val();
            var repeatPassword = $('input[name="repeatPassword"]').val();
                        
            if (password !== repeatPassword) {
            $("#createUserForm").removeClass("was-validated");
            Swal.fire({
                    title: 'Ошибка',
                    text: 'Пароли не совпадают.',
                    icon: 'error',
                    confirmButtonText: 'Ок'
                    });
                    return;
            }                            
            $.ajax({
            type:'POST',
            url :'@Url.Action("Create", "RegistrationUser")',
            data:$('#createUserForm').serialize(),
            success: function (response) {
                    $('#createUserForm').trigger('reset');
                    Swal.fire({
                        title:'Успешная регистрация',
                        text:response.description,
                        icon:'success',
                        confirmButtonText:'Окей'
                    })
               },
            error: function (response){
                    Swal.fire({
                        title:'Ошибка регистрации',
                        text:response.responseJSON.description,
                        icon:'error',
                        confirmButtonText:'Окей'
                    })
            }
            })
            $.validator.addMethod("passwordMatch", function (value, element) {
                        return this.optional(element) || (value === $('#password').val());
                    }, "Пароли не совпадают.");
            
                    // Инициализируем валидацию формы
            $('#createUserForm').validate({
                rules: {
                        repeatPassword: {
                        required: true,
                        passwordMatch: true
                        }
                },
                messages: {
                           repeatPassword: {
                           passwordMatch: "Пароли не совпадают."
                           }
                },
                errorElement: 'div',
                errorPlacement: function (error, element) {
                            error.addClass('invalid-feedback');
                            element.closest('.mb-3').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                            $(element).addClass('is-invalid').removeClass('is-valid');
                },
                unhighlight: function (element, errorClass, validClass) {
                            $(element).removeClass('is-invalid').addClass('is-valid');
                }
            });
        })
    </script>
}