@{
    ViewData["Title"] = "Registration Page";
}


<div class="d-flex justify-content-center">
    <h4 class="mb-4 text-muted">Регистрация пользователя :)</h4>
</div>
<form id="createUserForm" class="w-50 mx-auto" novalidate>
    <div class="mb-3">
        <label class="form-label">Ваш логин</label>
        <input pattern="[a-zA-Z0-9]+" name="login" type="text" class="form-control" required />
        <div class="invalid-feedback">Поле "Логин" обязательно для заполнения. Используйте только латинские буквы и цифры.</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Ваша электронная почта</label>
        <input name="email" type="email" class="form-control" required/>
        <div class="invalid-feedback">Поле "Электронная почта" обязательно для заполнения и должно быть валидным email-адресом.</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Ваш пароль</label>
        <input pattern="[a-zA-Z0-9]+" name="password" type="password" class="form-control" required/>
        <div id="passwordLength" class="invalid-feedback">Поле "Пароль" обязательно для заполнения. Используйте только латинские буквы и цифры. Длина пароля должна быть не меньше 8 символов.</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Повторите пароль</label>
        <input pattern="[a-zA-Z0-9]+" name="repeatPassword" type="password" class="form-control" required/>
        <div id="passwordMatch" class="invalid-feedback">Поле "Повторите пароль" обязательно для заполнения и должно совпадать с паролем.</div>
    </div>

    <div class="d-flex justify-content-center">
        <button id="createUser" type="submit" class="btn btn-bg btn-primary btn-lg">Регистрация аккаунта</button>
    </div>
</form>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $('#createUser').on('click', function (e){
            e.preventDefault();

            var form = $("#createUserForm")[0];
            if (!form.checkValidity()) {
                form.classList.add('was-validated');
                return;
            }

            var password = $('input[name="password"]').val();
            var repeatPassword = $('input[name="repeatPassword"]').val();

            if (password.length < 8) {
                $('#passwordLength').show();
                return;
            } else {
                $('#passwordLength').hide();
            }

            if (password !== repeatPassword) {
                $('#passwordMatch').show();
                return;
            } else {
                $('#passwordMatch').hide();
            }

            $.ajax({
                type:'POST',
                url :'@Url.Action("Create", "RegistrationUser")',
                data:$('#createUserForm').serialize(),
                success: function (response) {
                    $('#createUserForm').trigger('reset');
                    Swal.fire({
                        title:'Успешная регистрация',
                        text:response.description,
                        icon:'success',
                        confirmButtonText:'Окей'
                    })
               },
                error: function (response) {
                    if (response.responseJSON) {
                        Swal.fire({
                            title:'Ошибка регистрации',
                            text:response.responseJSON.description,
                            icon:'error',
                            confirmButtonText:'Окей'
                        });
                    } 
                }
            });
        });

        $('#password, #repeatPassword').on('keyup', function() {
            var password = $('#password').val();
            var repeatPassword = $('#repeatPassword').val();
            
            if (password !== repeatPassword) {
                $('#passwordMatch').show();
            } else {
                $('#passwordMatch').hide();
            }
            
            if (password.length < 8) {
                $('#passwordLength').show();
            } else {
                $('#passwordLength').hide();
            }
        });
    </script>
}
